# ROS2 artifacts
build/
install/
log/
# MAC Cache
**.DS_Store**
# Python Cache
**__pycache__**
# output file from sandbox runs of GPT
output.txt
# all GPT outputs
app/gpt_outputs/
## temp server files
**.temp**