# vscode artifacts
.vscode/
# ROS2 artifacts
build/
install/
log/
# SPIN
pan
# SPOT
spot.aut
# MAC Cache
**.DS_Store**
# Python Cache
.mypy_cache/
**__pycache__**
# output file from sandbox runs of GPT
output.txt
# all GPT outputs
app/gpt_outputs/
## temp server files
**.temp**
# visualizing aut files
out.html
.env
logs
